APP_ENV=development

# AUTH
JWT_SECRET=some-secret
JWT_EXPIRY_DURATION=86400s

# REST
REST_API_HOST=127.0.0.1
REST_API_PORT=8080
REST_API_SHUTDOWN_TIMEOUT=5s
REST_API_ALLOWED_CREDENTIALS_ORIGINS=*.configs.com