openapi: 3.0.4
info:
  title: Configuration Management Service - OpenAPI
  description: |-
    This is an APIs documentation for Configuration Management Service based on the OpenAPI 3.0 specification.
  contact:
    email: boby.indr@gmail.com
  version: v1
servers:
  - url: https://configs.example.com/api
tags:
  - name: auth
    description: User Authorization
  - name: config
    description: CRUD a Config
paths:
  /v1/auth/login:
    post:
      deprecated: false
      tags:
        - auth
      summary: Login to get token
      description: Login to get token
      operationId: login
      requestBody:
        description: Insert config values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/loginRequestBody'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/loginResponseSuccess'
        '400':
          description: Bad Request/Missing Params
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"        
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
  /v1/configs/{configName}:
    post:
      deprecated: false
      tags:
        - config
      summary: Insert Config Values by Config Name
      description: Insert config values to a config based on config name
      operationId: insertConfigValuesByConfigName
      parameters:
        - name: configName
          in: path
          description: Config Name of a config to insert
          required: true
          schema:
            type: string
      requestBody:
        description: Insert config values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configRequestBody'
        required: true
      responses:
        '201':
          description: Successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configResponseSuccess'
        '400':
          description: Bad Request/Missing Params
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '401':
          description: Unauthorized JWT token. Invalid scopes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '403':
          description: Authorized user does not have correct access to access resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '404':
          description: Schema not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '409':
          description: Config already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
      security:
        - config_auth:
            - write:configs
            - read:configs
    put:
      deprecated: false
      tags:
        - config
      summary: Update Config Values by Config Name
      description: Update config values based on config name
      operationId: updateConfigValuesByConfigName
      parameters:
        - name: configName
          in: path
          description: Config Name of a config to update
          required: true
          schema:
            type: string
      requestBody:
        description: Insert config values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configRequestBody'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configResponseSuccess'
        '400':
          description: Bad Request/Missing Params
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '401':
          description: Unauthorized JWT token. Invalid scopes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '403':
          description: Authorized user does not have correct access to access resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '404':
          description: Config Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
      security:
        - config_auth:
            - write:configs
            - read:configs
    get:
      deprecated: false
      tags:
        - config
      summary: Get Config Values by Config Name
      description: Get config values to a config based on config name
      operationId: getConfigValuesByConfigName
      parameters:
        - name: configName
          in: path
          description: Config Name of a config to get
          required: true
          schema:
            type: string
        - name: version
          in: query
          description: Version of config to retrieve
          required: false
          schema:
            type: integer
            format: int16
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configResponseSuccess'
        '400':
          description: Bad Request/Missing Params
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '401':
          description: Unauthorized JWT token. Invalid scopes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '403':
          description: Authorized user does not have correct access to access resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '404':
          description: Config Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
      security:
        - config_auth:
            - read:configs
  /v1/configs/{configName}/rollback:
    post:
      deprecated: false
      tags:
        - config
      summary: Rollback Config Values by Config Name
      description: Rollback config values to any previous version based on config name
      operationId: rollbackConfigValuesByConfigName
      parameters:
        - name: configName
          in: path
          description: Config Name of a config to rollback
          required: true
          schema:
            type: string
      requestBody:
        description: Rollback config values payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/configRollbackRequestBody'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/configResponseSuccess'
        '400':
          description: Bad Request/Missing Params
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '401':
          description: Unauthorized JWT token. Invalid scopes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '403':
          description: Authorized user does not have correct access to access resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '404':
          description: Config Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
      security:
        - config_auth:
            - write:configs
            - read:configs
  /v1/configs/{configName}/versions:
    get:
      deprecated: false
      tags:
        - config
      summary: Get Config Versions by Config Name
      description: Get all config versions based on config name
      operationId: getConfigVersionsByConfigName
      parameters:
        - name: configName
          in: path
          description: Config Name of a config to get all versions
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: Limit of config list to retrieve
          required: false
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          description: Offset of config list to retrieve
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/configVersionListResponseSuccess'
        '400':
          description: Bad Request/Missing Params
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '401':
          description: Unauthorized JWT token. Invalid scopes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '403':
          description: Authorized user does not have correct access to access resource.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '404':
          description: Config Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ErrorResponse"
      security:
        - config_auth:
            - read:configs
components:
  schemas:
    loginRequestBody:
      description: Login to get Token
      type: object
      required:        
        - username
        - password
      properties:
        username:
          type: string
          example: "labubu"
        password:
          type: string
          example: "secretpassword"
    loginResponseSuccess:
      description: Login Response Successful
      type: object
      properties:
        data:
          $ref: "#/components/schemas/loginResponseDetail"
      required:
        - data
    loginResponseDetail:
      description: Login Response Detail
      type: object
      properties:
        token:
          type: string
          example: "jlasjiowaefnanajda&2akldjfa"        
      required:
        - token
    configRequestBody:
      description: Config Create and Update Payload
      type: object
      required:        
        - config_values
      properties:
        config_values:
          type: object
          example: {"max_limit":1000,"enabled":true}
    configResponseSuccess:
      description: Config Response
      type: object
      properties:
        data:
          $ref: "#/components/schemas/configResponseSuccessDetail"
      required:
        - data
    configVersionListResponseSuccess:
      description: Config Response
      type: object
      properties:
        meta:
          $ref: "#/components/schemas/offsetPagination"
        data:
          $ref: "#/components/schemas/configResponseSuccessDetail"
      required:
        - meta
        - data
    configRollbackRequestBody:
      description: Rollback config values payload
      type: object
      required:        
        - version
      properties:
        version:
          type: integer
          format: int16
          example: 1    
    offsetPagination:
      description: Config Response
      type: object
      properties:
        offset_pagination:
          $ref: "#/components/schemas/offsetPaginationDetail"
    offsetPaginationDetail:
      description: Config Response
      type: object
      properties:
        limit:
          type: integer
          format: int32
          example: 10
        offset:
          type: integer
          format: int32
          example: 0
        total:
          type: integer
          format: int32
          example: 25
      required:
        - limit
        - offset        
        - total
    configResponseSuccessDetail:
      description: Config Response
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        config_values:
          type: object
          example: {"max_limit":1000,"enabled":true}
        version:
          type: integer
          format: int16
          example: 1
        created_at:
          type: string
          example: "2025-11-08T15:38:41+07:00"
          description: "The time when the first Config was inserted"
      required:
        - id
        - config_values        
        - version
        - created_at
    v1ErrorResponse:
      type: object
      properties:
        error:
          type: object
          $ref: '#/components/schemas/v1ErrorInfo'          
    v1ErrorInfo:
      type: object
      properties:
        code:
          title: "code"
          type: string
        message:
          title: "message"
          type: string
        field:
          title: "field"
          type: string
      required:
        - code
        - message
  securitySchemes:
    config_auth:
      type: http
      scheme: bearer
      bearerFormat: JWT